.square{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}

.square-grey{
    background-color: grey;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}

#board{
    width: 100px;
    text-align: center;
}